
foreach d [list wiwo1 wiwo2 wiwo3] {
   schedule device $d "orvibo on $d" "orvibo off $d"
}

schedule add -device wiwo1 -on 5:30 -off 6:20 -random 10
schedule add -device wiwo1 -on 19:40 -off 21:28 -random 8

schedule add -device wiwo2 -on 5:00 -off 6:21 -random 7
schedule add -device wiwo2 -on 19:30 -off 21:27 -random 11

schedule add -device wiwo3 -on 5:01 -off 5:40 -random 9
schedule add -device wiwo3 -on 20:40 -off 22:18 -random 11

